FLASK_DEBUG=1
FLASK_ENV=development
DATABASE_URL=sqlite:///db.sqlite
# Set the secret key to some random string (minimum length 16). Keep this really secret!
# for the lazy :-) https://djecrety.ir
SECRET_KEY=secret-key-value